.password-reset-form{
    background-image: url(../../img/daniel-frank-201416-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: auto;
  }
  .password-reset-form > div{
    padding-top: 1px;
  }
  .password-reset-form-centre {
    margin:100px auto;
    padding: 100px;
  }
  